body {
  background-image: url('images/abackground.png');
  background-size: cover; 
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Montserrat", sans-serif;
  background-color: #0da5e1;
  color: #fff;
  padding: 1rem;
}

.title {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 40px;
  margin-top: 20px;
  margin-right: 650px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 40px;
  padding: 14px 16px;
  margin-left: 700px;
}

.nav-links a:hover {
  background-color: #a9a9a9;
  border-radius: 50px
}

main {
  padding: 100px;
}


.main {
  padding: 200px;
}



.description {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 35px; /* Adjusted font size */
  line-height: 2; /* Adjusted line height */
  text-align: left; /* Align text to the left */
  max-width: 1500px; /* Limit width */
  margin-right: 1500px; /* Center horizontally */
  border: 2px solid #0da5e1; /* Border color */
  border-radius: 50px; /* Border radius */
  padding: 20px; /* Padding inside the container */
}


.names-container{
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  margin-left: 1500px;
  margin-top: -1000px;
  width: 575px;
  border: none;
  
}

.names-container a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px; /* Adjusted font size */
  color: #000000;
  border: 2px solid #0da5e1; /* Border color */
  border-radius: 50px; /* Border radius */
  padding: 10px 20px; /* Adjust padding to fit border */
  margin-left: -50px;
  margin-top: 65px;
  margin-bottom: -50px; /* Added margin between names */
  transition: color 0.5s;
}

.names-container a:hover {
  color: #0da5e1;
  text-decoration: none;
  position: relative;
  animation: underline_grow 0.5s ;
}

.names-container a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #0da5e1;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.names-container a:hover:after{
  width: 100%;
}
