body {
  background-image: url('images/abackground.png');
  background-size: cover; 
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Montserrat", sans-serif;
  background-color: #0da5e1;
  color: #fff;
  padding: 1rem;
}

.title {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 40px;
  margin-top: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 40px;
  padding: 14px 16px;
  
}

.nav-links a:hover {
  background-color: #a9a9a9;
  border-radius: 50px
}

main {
  padding: 100px;
}


.description-q {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  font-weight: bold;
  line-height: 5;
  margin: 0 auto; /* Center align */
  max-width: 200px; /* Limit width */
}

.description {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 40px;
  line-height: 1.5;
  margin: 15px auto; /* Center align */
  max-width: 2000px; /* Limit width */
}
