<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptographic Encryptions</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='astyles.css') }}">
    
</head>
<body>
  <nav>
    <h1 class="title" align="left">Cryptographic Encryption Techniques</h1>

    <ul class="nav-links">
      <li><a href="../">Home</a></li>
    </ul>
  </nav>
  <main>
    <p class = "description">
    This project was undertaken by a team of three students enrolled in EECE 455: Cryptography & Network Security. Our aim is to explore the 
    intricacies of advanced encryption techniques, endeavoring to apply them practically while grasping their conceptual foundations. To achieve 
    this objective, we selected Flask, a Python web framework recognized for its rapid development and user-friendly design. Additionally, 
    we aimed to transform our encryption algorithms into a user-friendly experience hosted on the cloud. To this end, we focused our efforts 
    on Azure, a cloud platform esteemed for its scalability and reliability. Our team divided the workload between frontend and backend 
    development. We utilized HTML and CSS for the frontend to craft the website's design, while Python was employed for backend implementation, 
    focusing on integrating the encryption techniques.
    <br>
    <br>
    <center>
      Hadi El Nawfal<br>Hussein Mallah<br>Hussein Zeineddine
    </center>
    <p>
  </main>
</body>
</html>