<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptographic Encryptions</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='astyles.css') }}">
    
</head>
<body>
  <nav>
    <h1 class="title" align="left">About Us</h1>

    <ul class="nav-links">
      <li><a href="../">Home</a></li>
    </ul>
  </nav>
  <main>
    <p class = "description">
    This is the project of EECE 455/632 for Spring of 2023-2024. Our goal is to investigate the complexities of sophisticated encryption methods, 
    attempting to use them in a real-world setting while understanding their theoretical underpinnings. We chose Flask, a Python web framework renowned 
    for its quick development and intuitive design, to accomplish this goal. Furthermore, we wanted to provide a cloud-hosted, user-friendly encryption 
    algorithm experience. In order to do this, we concentrated on Azure, a cloud platform that is highly regarded for its scalability and dependability. 
    The tasks were split between frontend and backend development in our team. The website's design was created using HTML and CSS on the frontend, and Python 
    was used on the backend to implement the design and integrate the encryption techniques.
    <br>
    <br>
    </p>
    <div class="names-container">
      <a href="https://www.linkedin.com/in/hadi-el-nawfal-596958215/">Hadi El Nawfal</a>
      <a href="https://github.com/">Hussein Mallah</a>
      <a href="https://github.com/">Hussein Zeineddine</a>
    </div>
  </main>
</body>
</html>